.egit commit -m "Initial commit"
git branch -M main
git remote add origin https://github.com/dhbzrj-dev/acervo-cursos.git
git push -u origin mainnv
backend/.env
bot/.env
frontend/.env
node_modules
backend/node_modules
bot/node_modules
frontend/node_modules
dist
build
.DS_Store